@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie // this is the model that i want to use in this view 

<!-- Heading to thank the user for their submission, as well as an image element -->
<h2> Thank you for your Submission. Have a great day!</h2>
<br />
<img src="~/img/joelhiltonheadshot.jpg" height="500" />