@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get to Know Joel</h1>

<p>Joel is passionate about film and comedy, regularly performing at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>

<p>He also co-hosts a podcast about films and pop culture, <a href="https://baconsale.com/" target="_blank">Baconsale</a>.</p>

<p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" alt="Baconsale Podcast" height="500" />
    </a>
</p>
