@{
    ViewData["Title"] = "Home Page";
}

<!-- Main heading for the page or section -->
<h1> The Joel Hilton Film Collection</h1>

<!-- Container div for introductory text and image -->
<div> 
    <p>Welcome to the greatest Film collection of all time</p>
    <img src="~/img/joelhiltonheadshot.jpg" height="500" />
</div>

