@{
    ViewData["Title"] = "Home Page";
}
<h1> The Joel Hilton Film Collection</h1>
<div> 
    <p>Welcome to the greatest Film collection of all time</p>
    <img src="~/img/joelhiltonheadshot.jpg" height="500" />
</div>

